body {
}

.btn-primary {
    display: inline-block;
    background-color: #4A2C20;
    color: #F3E6D0;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid #4A2C20;
    transition: all 0.2s ease;
}
